# ~/.config/systemd/user/conky.service

[Unit]
Description=Conky

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/conky
Environment=DISPLAY=:0
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
